 <section class="hero">
  <div class="hero-grid">
    <div class="hero-text">
        <app-herobanner
          [title]="title" 
          [description]="description">
        </app-herobanner>

      <div class="hero-buttons">
        <app-buttons-div
        [buttons]="buttons">
      </app-buttons-div>
    </div>
  </div>
  
    <span class="hero-image">
      <app-hero-image
        [imageSrc]="imageSrc" 
        [imageAlt]="imageAlt">
      </app-hero-image>
    </span>

  </div>
    
 </section>