.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
  padding: 0 8rem;
  margin: 0 auto;
}

.hero-buttons {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .hero-grid {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 0 1.5rem;
    justify-content: center;
  }

  .hero-image {
    order: -1; 
  }

  .hero-buttons {
    font-size: 1.1rem;
    margin-top: 2rem;
    justify-content: center;
  }

  .hero-buttons .btn {
  width: auto;
  padding: 0.9rem 0.7rem;
  } 

  .container {
    padding: 0 1.5rem;
  }

}