<footer class="footer">
   <footer class="footer">
    <div class="container newsletter">
      <p class="subheading">35,000+ already joined</p>
      <h2>Stay up-to-date with what we're doing</h2>
      <form class="newsletter-form">
        <input type="email" placeholder="Enter your email address" required />
        <button type="submit" class="btn btn-red btn-contact">Contact Us</button>
      </form>
    </div> 

    <div class="footer-bottom">
        <div class="footer-logo-menu">
            <img src="assets/logos/logo-bookmark.svg" alt="Bookmark Logo"/>
            <nav>
                <ul class="footer-menu">
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>
      <div class="social">
        <img src="assets/icons/icon-facebook.svg" alt="Facebook-logo" />
        <img src="assets/icons/icon-twitter.svg" alt="Twitter-logo" />
      </div>
    </div>

</footer>