<div class="footer-bottom">
    <div class="footer-logo-menu">
        <img src="assets/logos/logo-bookmark.svg" alt="Bookmark Logo"/>
        <nav>
            <ul class="footer-menu">
                <li><a href="#features">Features</a></li>
                <li><a href="#pricing">Pricing</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </div>
    <div class="social">
        <img src="assets/icons/icon-facebook.svg" alt="Facebook-logo" />
        <img src="assets/icons/icon-twitter.svg" alt="Twitter-logo" />
    </div>
</div>
