<section class="hero">
  <div class="hero-grid">
    <div class="hero-text">

      <app-heading 
        [level]="1" 
        [text]="title">
      </app-heading>
      
      <app-text 
        [content]="description">
      </app-text>

      <app-button
        [text]="'Get it on Chrome'" 
        [variant]="'blue'">
      </app-button>
      
      <app-button
        [text]="'Get it on Firefox'" 
        [variant]="'light'">
      </app-button>

      <app-image
        [src]="'assets/images/illustration-hero.svg'"
        [alt]="'Hero image'"
        [cssClass]="'hero-image'">
      </app-image>
    </div>
  </div>
</section>