* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html, body {
width: 100%;
overflow-x: hidden;
}

body {
font-family: Rubik, sans-serif;
color: rgb(37, 43, 70);
line-height: 1.6;
scroll-behavior: smooth;
}