* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  main {
    margin-top: 7rem;
  };
}