.feature-image {
  margin-left: 4em;
  margin: 0 4%;
}

@media screen and (max-width: 768px) {
  .feature-image img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
}
