.hero-buttons {
  display: flex;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .hero-buttons {
    font-size: 1.1rem;
    margin-top: 2rem;
    justify-content: center;
  }
    
    .btn {
      width: auto;
      padding: 0.9rem 0.7rem;
    }
  }
