<section class="features">
  <div class="container">
    <app-heading
      [title]="sectionTitle">
    </app-heading>
    <app-subtitle
      [text]="subtitle">
    </app-subtitle>
    <app-tab-nav
      [tabs]="tabs"
      [activeTabId]="activeTabId"
      (tabChange)="onTabChange($event)">
    </app-tab-nav>
    <app-features-content
      [imageSrc]="currentFeature.imageSrc"
      [imageAlt]="currentFeature.imageAlt"
      [title]="currentFeature.title"
      [description]="currentFeature.description"
      [buttonText]="currentFeature.buttonText || 'More Info'"
      [buttonHref]="currentFeature.buttonHref || '#'"
      [showButton]="!!currentFeature.buttonText">
    </app-features-content>
  </div>
 </section>