.subtitle {
  margin: 1em auto 3.5em auto;
  max-width: 600px;
  padding: 0 1rem;
  text-align: center;
  color: rgb(145, 148, 161);
}

@media screen and (max-width: 768px) {
  .subtitle {
    margin-top: 1em;
  }
}