<div class="container hero-grid">
    <div class="hero-text">
    <app-heading
        text = 'A Simple Bookmark Manager'>
    </app-heading>
    <p>A clean and simple interface to organize your favourite websites. Open a new browser tab and see your sites load instantly. Try it for free.</p>
    <div class="hero-buttons">
        <app-button
            variant = "blue"
            text = 'Get it on Chrome'
            additionalClasses = 'btn btn-blue btn-download'
            type = 'button'
            href="#" >
        </app-button>

        <app-button
            variant = "blue"
            text = 'Get it on Firefox'
            additionalClasses = 'btn btn-light'
            type = 'button'
            href="#" >
        </app-button>
    </div>
    </div>
    
    <span class="hero-image">
    <img 
        src="assets/images/illustration-hero.svg" 
        alt="Illustration Hero" 
        class="illustration-class"/>
    </span>
</div>
