<div class="container nav-container">
    <app-logo
        [src]="logoSrc"
        [alt]="logoAlt"
        logoClass="logo">
    </app-logo>
      
    <app-button
        variant="hamburger"
        text="☰"
        (onClick)="onHamburgerClick()">
    </app-button>
    
    <app-desktop-nav
        [navLinks]="navLinks"
        (loginClick)="onLoginClick()">
    </app-desktop-nav>
</div>

<app-mobile-nav
  [isOpen]="isMobileNavOpen"
  [navLinks]="navLinks"
  (closeClick)="onMobileMenuClose()"
  (loginClick)="onLoginClick()">
</app-mobile-nav>
